* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
    color: #fff;
}
.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    text-align: center;
}
.add-task input,
.add-task button {
    border: none;
}
.task-list {
    margin: 10px 0;
}
.task-list_item,
input,
button {
    padding: 10px;
    border-radius: 3px;
}
.task-list_item.completed {
    color: #aaa;
    /*background: rgba(255,255,255,0.8);*/
    opacity: 0.4;
}
.task-list_item.completed:after {
    content: " ";
    width: 97%;
    height: 1px;
    background: #aaa;
    position: relative;
    top: -9px;
    display: block;
    float: right;
}
button {
    background-color: paleturquoise;
    cursor: pointer;
    border: none;
}
input[name=todo] {
    width: 700px;
}
input[name=list],
.task-list_item {
    background-color: #fff;
    color: #0a0a0a;
    margin-bottom: 5px;
}
.task-content {
    margin-left: 3px;
}
.action {
    float: right;
    margin-right: 5px;
    color: #888;
    font-size: 90%;
    cursor: pointer;
}
.action:hover {
    color: #333;
}
.task-detail {
    position: absolute;
}
.task-detail{
    background: #fff;
    overflow: auto;
    color: #333;
    width: 50%;
    padding: 10px;
    bottom: 0;
    right: 0;
    border-radius: 3px 0 0 3px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1);
}
.task-detail .content {
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}

.task-detail input {
    width: 86%;
    margin: 10px;
}
.task-detail textarea {
    height: 60px;
    margin: 10px;
}
.task-detail button {
    margin-left: 10px;
}

.task-detail-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}
.msg {
    display: none;
    text-align: center;
    background: #ffe264;
    padding: 10px;
    color: #333;
}
.anchor {
    cursor: pointer;
}
.alert {
    width: 0;
    height: 0;
}
.primary {
    margin-left: 90px;
    margin-top: 10px;
}